/*body {
    background-color: navy;
}


object {
    height: 100vh;
    width: 100vh;
}*/
body {
    background-color: light gray;
	/*padding: 50px 0px 0px 0px;*/
	z-index: 0; /*defines stacking order of the html element. higher index gets stacked on the top of lower index element. */
}


object {
    height: 100vh;
    width: 100vh;
}

address{
    font-size:100%;
    margin:3px;
    color:#0f0f0f;
}


i{
    color: rgb(54, 138, 16);
   font-family: calibri, Helvetica, sans-serif;
   width: 100px;
   height: 100px;
}

.linkclass {
   color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.headings {
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    font-family: cursive;
}

label {font-size: 14px;
    font-weight: bold;
    color: white;
}

.titles {
    color: black;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
}

.description {
    color: black;
    font-weight: normal;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


.hideAbout
#about {display: none;}

.hideTraining
 #training{display: none;}

/*html, body, {
	height: 100%;
}*/

/* Added: Monica Deshmukh 06232020*/
/*div {
display: inline-block;
  background-color: lightgray;
  height:100%;
  
}

  div div{/*div containers that are child of a div*/
  /*background-color: lightblue;
  width: 20%;
  height:100%;
  }*/

.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.avatar {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  /*border-radius: 50%;*/
  align-content: center;
}

/* default navbar-dark class is overloaded to change the background color to a shade of purple */
.navbar-dark {
	background-color: #512DA8;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#outerdiv {
      		/*position: absolute;
            width:80%;
            height:100%;
            background-color: lightgray;
            border: 2px black;
            margin: 0;*/
            position: absolute;
            width:100%;
            height:100%;
            background-color: white;
            padding: 10px;
            border: 2px;
            margin: 0;
}

.innerdiv1 {
               /* top: 0px;
                align-self: right;
                position: absolute;
                height:100%;
                background-color: lightblue;
                border: 2px solid white;
                margin: 0;*/
                top: 0px;
                left: 0px;
                position: absolute;
                /*width:100px;
                height:100px;*/
                width:20%;
                height:100%;
                background-color: lightblue;
                display: inline-block;
}

#innerdiv2 {
			/*top: 150px;
            left: 10px;
            width:150px;
            position: absolute;
            height:100px;
            background-color: beige;
            padding: 10px;
            border: 2px solid white;
            margin: 20;*/
            top: 0px;
            left: 20%;
            width:80%;
            position: absolute;
            height:100%;
            background-color: lightgray;
}


.info {
	color: black;
	font-size: 18px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

/*.headings {
	color: black;
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}*/

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
